<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit student</h1>
<a th:href="@{/students}">Back to student list</a>
<form th:href="@{/students/update/{id}(id=${studentUp.id})}" th:object="${studentUp}" method="post" novalidate="novalidate" enctype="multipart/form-data">
    <div>
        <label>Name:</label><br>
        <input type="text" name="name" th:field="*{name}">
    </div>
    <div>
        <label>Address:</label><br>
        <input type="text" name="address" th:field="*{address}">
    </div>
    <div>
        <label>Image:</label><br>
        <input type="file" name="image" th:field="*{image}">
    </div>
    <input type="submit" value="Edit">
</form>
</body>
</html>